<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1、内存管理的基本概念及范围.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2、多对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4、电商App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5、@class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>6、autoreleasepool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>7、MRC转ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>8、strong &amp; weak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>@property参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSString类的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E083BDA20AD749300C34D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E083BF620AD819400C34D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1A7D9520A44A3B004C00A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2244AB20A68CC100F0ED92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E70CCB220AAAE4300C71AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E976A6020BAB135000104E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE6D28520A82E7700F67EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
